* {
    box-sizing: border-box;
}

body {
    padding: 0%;
}

/* NavBar Styles */

nav {
    display: flex;
    align-items: center;
    margin-top: 0%;
    /* background-color:white; */
    height: 45px;
    padding: 10px 45px 10px;
}

nav.dark {
    background-color: black;
}

/* Title Styles */

.title {
    margin-right: auto;
}

nav.dark .title {
    color: #F5F5F5;
}


/* Nav Menu */

.nav--menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Nav-ele Styles */
.nav--elements {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav--elements > a {
    color: #000;
}

nav.dark .nav--elements > a{
    color: white;
}

/* Toggler Styles */

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

/* Main Styles */

main {
    background-color:beige;
    /* position: absolute; */
    padding: 10px 65px 10px;
    top: 40px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 100px;
    background-image: url(../public/images/ad_checks_w.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;

}

main.dark {
    background-color:black;
}

.main--content {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-left: 20px;
    margin-right: auto;

}

main.dark .main--content {
    color: white;
    margin-left: 20px;
    margin-right: auto;
}

.main--content > p {
    margin-bottom: 0%;
    margin-top: 2%;
    margin-left: 1%;
}

.main--content > h1 {
    margin-bottom: 0%;
    margin-top: 0%;
}

/* SkillBar */

.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
}
.text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}
 